#root {
  width: 100%;
}

.app-container {
  text-align: center;
  min-height: 100vh;
}

.budgeting-container {
  display: flex;
  flex-grow: 1;
  gap: 2rem;
}

.income-container, .expenses-container {
  padding: 1rem;
  flex: 1
}

.income-container {
  background-color: #f0f0f0;
}

.expenses-container {
  background-color: #ffffff;
}

